.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container{
  display: flex;
  height: 80vh;
  border: 1px solid grey;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: white;
  overflow: auto;
}
.todoform{
  display: flex;
  justify-content: space-around;
  width: 450px;
}
input{
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;

}
button{
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0 5px;
}
.alltodos{
  list-style: none;
  margin: 0;
  padding: 0;

}
.singletodo{
  border-radius: 50px;
  margin: 10px 0;
  background-color: #5dadf8;
  padding: 10px 20px;
  width: 450px;
  display: flex;
  align-items: center;
}
.todotext{
  flex: 1;
}



@media screen and (max-width:650px) {
  
  .container{
    padding: 10px;
    font-size: 10px;
  }
  .todoform{
    width: 250px;
  }
  input{
    padding: 5px;
    border-radius: 10px;
  
  }
  button{
    padding: 5px;
    border-radius: 10px;
    margin: 0 2px;
  }
  .singletodo{
    border-radius: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    width: 250px;

  }
  
}